<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456109044068-4fv3h9ehlo9j9qdtu2dq18cmbnoe2gp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456109044068-4fv3h9ehlo9j9qdtu2dq18cmbnoe2gp3</string>
	<key>API_KEY</key>
	<string>AIzaSyB1EnnjPQf2HEVG0UTKeK1l-YljbM_8_EM</string>
	<key>GCM_SENDER_ID</key>
	<string>456109044068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoApplication</string>
	<key>PROJECT_ID</key>
	<string>memoapp-a8fce</string>
	<key>STORAGE_BUCKET</key>
	<string>memoapp-a8fce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456109044068:ios:93a0db9f8c9fa5172b4a71</string>
</dict>
</plist>